/*
* @Author: 贾思凡
* @Date:   2018-05-13 20:20:14
* @Last Modified by:   贾思凡
* @Last Modified time: 2018-05-13 20:21:55
*/
*{
	margin: 0;
	padding:0;
	text-decoration: none;
	font-style: normal;
	list-style: none;

}